GOOGLE_CLIENT_ID=your_google_client_id
PROJECT_ID=your_project_id
AUTH_URI=https://accounts.google.com/o/oauth2/auth
TOKEN_URI=https://oauth2.googleapis.com/token
AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
CLIENT_SECRET=your_google_client_secret
JAVASCRIPT_ORIGINS=http://127.0.0.1:8000
SECRET_KEY=your_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
DB_URL=postgresql://user:password@localhost:5432/db
RAWG_API_KEY=your_rawg_api_key
IGDB_CLIENT_ID=your_igdb_client_id
IGDB_CLIENT_SECRET=your_igdb_client_secret
